$color_black: #000000;
$color_maroon: #580300;
$color_white: #ffffff;
$color_gray: rgb(69, 69, 70);
$color_gray-d: rgb(119, 119, 119);
$color_gray-f: rgb(153, 153, 153);
$color_blue: rgb(0, 181, 210);
$color_blue-d: #367ab7;
$color_bisque: #e1aa6e;
$color_bisque-d: #ba8e5b;